<style>
a {
  color: black;
}
a:hover{
  color:black;
}
a:visited{
  color:black;
}

@font-face {
  font-family="Lato";
}
</style>

<h1>
  <a href="https://www.conservation.org/stories/11-climate-change-facts-you-need-to-know">
    Statistics
  </a>
</h1>

<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <div class="center aligned column">
      <h2>Ecosystems</h2>
      <a>
        <img class="ui centered small rounded image"
        src="../assets/2018NCA_Concentrations_en_title_lg.jpg">
      </a>
      <p></p>
      <p>
        The concentration of carbon dioxide (CO2)​​​​​​​ in our atmosphere, as of 2018,
        is the highest it has been in 3 million years.
      </p>
    </div>

    <div class="center aligned column">
      <h2>People</h2>
      <a><img class="ui centered small rounded image" src="../assets/peeps.jpg"></a>
      <p></p>
      <p>
        Eight hundred million people are currently vulnerable to climate
        change impacts such as droughts, floods, heat waves, extreme weather
        events and sea-level rise.
      </p>
    </div>
    <div class="center aligned column">
      <a>
        <img class="ui centered small rounded image" src="../assets/ci_89760228.jpg">
      </a>
      <p></p>
      <p>
        Eleven percent of all global greenhouse gas emissions caused by humans
        are caused by deforestation — comparable to the emissions from all of
        the cars and trucks on the planet.
      </p>
    </div>
    <div class="center aligned column">
      <a>
        <img class="ui centered small rounded image" src="../assets/cityscape.jpg">
      </a>
      <p></p>
      <p>
        $140​ billion per year is all it would take to make the changes humanity
        needs to adapt to a warming world. It may sound like a lot, but it’s
        less than 0.1% of global GDP.​​​
      </p>
    </div>
  </div>
</div>
