<h2><a href="https://davidsuzuki.org/what-you-can-do/top-10-ways-can-stop-climate-change/">Resources</a></h2>
<h3>What can you do?</h3>

<style>
a {
  color: black;
}
</style>

<div class="ui segment">
  <div class="ui three column very relaxed grid">
    <div class="column">
      <h3>Home</h3>
      <p><a href="https://www.marketwatch.com/story/11-ways-to-lower-your-water-bill-2019-08-01">Water</a></p>
      <img class="ui small image" src="..\assets\wss-sw-topics-side-picture_0.jpg">
      <p>Try to limit the length of your showers to 5 minutes. Keep in mind that baths use significantly more water than showers.</p>
      <p><a href="https://www.libertymutual.com/masterthis/save-on-your-heating-bill">Heating</a></p>
      <img class="ui small image" src="..\assets\Gregory-Heating-and-Air-Conditioning-4.jpg">
      <p>During the winter, the recommended temperature is 68 degrees Fahrenheit. In the summer, try to keep the AC no lower than 72.</p>
    </div>

    <div class="column">
      <h3>Travel</h3>
      <p><a href="https://play.google.com/store/apps/details?id=com.thetransitapp.droid&hl=en_US">Public Transport</a></p>
      <img class="ui small image" src="..\assets\transit_app.png">
      <p>Use Public Transport as much as possible. Transit app for iOS and Android is very useful for determining routes and schedules.</p>
      <p><a href="https://andthenwesaved.com/how-to-save-money-on-your-commute/">Work/School Commute</a></p>
      <img class="ui small image" src="..\assets\Ride-Amigos-02-1030x723.png">
      <p>If you can, find a bus/ train route to get to school/work, or organize a carpool with coworkers near you. Using a car to commute 5 days a week all year quickly adds up!</p>
    </div>

    <div class="column">
      <h3><a href="https://www.globalchange.gov/engage">Community</a></h3>
      <img class="ui small image" src="..\assets\community-events.jpg">
      <p>Talk to a friend. HOW ARE THEY GIOING TO FIX CLIMATE CHANGE! if not they suck and the world will die cause pf them.</p>
    </div>
  </div>
</div>
