<h1><a href="https://davidsuzuki.org/what-you-can-do/top-10-ways-can-stop-climate-change/">Resources</a></h1>
<h2>What can you do?</h2>

<style>
a {
  color: black;
}
a:hover{
  color:black;
}
a:visited{
  color:black;
}

@font-face {
  font-family="Lato";
}
</style>

<div class="ui segment">
  <div class="ui three column very relaxed grid">
    <div class="column">
      <h2>Home</h2>
      <a href="https://www.marketwatch.com/story/11-ways-to-lower-your-water-bill-2019-08-01"><img class="ui small image" src="..\assets\wss-sw-topics-side-picture_0.jpg"></a>
      <p>Try to limit the length of your showers to 5 minutes. Keep in mind that baths use significantly more water than showers.</p>
      <a href="https://www.libertymutual.com/masterthis/save-on-your-heating-bill"><img class="ui small image" src="..\assets\Gregory-Heating-and-Air-Conditioning-4.jpg"></a>
      <p>During the winter, the recommended temperature is 68 degrees Fahrenheit. In the summer, try to keep the AC no lower than 72.</p>
    </div>

    <div class="column">
      <h2>Travel</h2>
      <a href="https://play.google.com/store/apps/details?id=com.thetransitapp.droid&hl=en_US"><img class="ui small image" src="..\assets\transit_app.png"></a>

      <p>Use Public Transport as much as possible. Transit app for iOS and Android is very useful for determining routes and schedules.</p>
      <a href="https://andthenwesaved.com/how-to-save-money-on-your-commute/"><img class="ui small image" src="..\assets\Ride-Amigos-02-1030x723.png"></a>
      <p>If you can, find a bus/ train route to get to school/work, or organize a carpool with coworkers near you. Using a car to commute 5 days a week all year quickly adds up!</p>
    </div>

    <div class="column">
    <h2>Community</h2>
    <a href="https://www.globalchange.gov/engage"><img class="ui small image" src="..\assets\community-events.jpg"></a>
      <p>Look into powering your home with renewable energy such as solar panels. The more people participating, the more will feel inclined to participate!</p>
    </div>
  </div>
</div>
