<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>
          If you still say that we are wasting valuable lesson time,
          then let me remind you that our political leaders have wasted
          decades through denial and inaction."
        </h3>
        <p>Greta Thunberg</p>
      </div>
      <div class="column">
        <h3>
          "Climate change is a problem which can no longer be left to
          a future generation."
        </h3>
        <p>Pope Francis</p>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui container">
    <a id="stat"></a>
    <app-stats></app-stats>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui container">
    <a id="rsc"></a>
    <app-resources></app-resources>
  </div>
</div>
