<div class="ui stackable inverted menu top attached huge">
  <div class="ui small rounded image">
    <img src="\assets\BrightView.jpg" routerLink="/home">
  </div>
  <div class="ui medium header item" routerLink="/home">
    {{title}}
  </div>
</div>
<div class="ui stackable menu attached large">
  <a routerLink="/main" class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a routerLink="/time" class="item">
    <i class="plane icon"></i>
    Ireland
  </a>
  <a routerLink="/time2" class="item">
    <i class="briefcase icon"></i>
    Work
  </a>
</div>


<!--This is the body of the application.-->
<div class="ui bottom attached container segment pushable" id="content">
  <router-outlet></router-outlet>
</div>

<div>
  <h1>Climate Tacker</h1>
</div>

<div>
  <h2>Statistics</h2>
  <div>
    <h3>Global Temperatures</h3>
  </div>
  <div>
    <h3>Sea Level</h3>
    <p></p>
  </div>
  <div>
    <h3>Human Contributions</h3>
    <div>
      <h4>CO2 Produced</h4>
      <p></p>
    </div>
    <div>
      <h4>Trees Cut Down</h4>
      <p></p>
    </div>
    <div>
      <h4></h4>
    </div>
  </div>
</div>

<div>
  <h2>Resources</h2>

  <div>
    <h3>Home</h3>
    <p>Lights</p>
    <p>Water</p>
    <p>Heating</p>
  </div>

  <div>
    <h3>Travel</h3>
    <p>Public Transport</p>
    <p>Work/school commute</p>
    <p>Flights</p>
  </div>

  <div>
    <h3>Community</h3>
    <p>Groups</p>
    <p>Advocacy</p>
    <p>Policies</p>
  </div>
</div>
