<div>
  <h1>Climate Tracker</h1>
  <p>The state of our world today</p>
</div>

<div>
  <h2>Statistics</h2>
  <div>
    <h3>Global Temperatures</h3>
  </div>
  <div>
    <h3>Sea Level</h3>
    <p></p>
  </div>
  <div>
    <h3>Human Contributions</h3>
    <div>
      <h4>CO2 Produced</h4>
      <p></p>
    </div>
    <div>
      <h4>Trees Cut Down</h4>
      <p></p>
    </div>
    <div>
      <h4></h4>
    </div>
  </div>
</div>

<div>
  <h2>Resources</h2>

  <div>
    <h3>Home</h3>
    <p>Lights</p>
    <p1> Turn off lights when not in use</p1>
    <p>Water</p>
    <p1>Try to limit the length of your showers to 5 minutes. Keep in mind that baths use significantly more water than showers.</p1>
    <p>Heating</p>
    <p1>During the winter, the recommended temperature is 68 degrees Fahrenheit. In the summer 
  </div>

  <div>
    <h3>Travel</h3>
    <p>Public Transport</p>
    <p>Work/school commute</p>
    <p>Flights</p>
  </div>

  <div>
    <h3>Community</h3>
    <p>Groups</p>
    <p>Advocacy</p>
    <p>Policies</p>
  </div>
</div>
