<div class="ui fixed menu">
  <div class="ui left aligned">
    <a class="item">
      {{title}}
    </a>
  </div>
  <div class="ui secondary menu">
    <a class="item" href="#home">
      Home
    </a>
    <a class="item" href="#stat">
      Statistics
    </a>
    <a class="item" href="#rsc">
      Resources
    </a>
  </div>
</div>

<div class = "ui segment">
  <h1 class="ui center aligned header">
    {{title}}
  </h1>
</div>

  <section id="home">
    <div class="item">
      <app-home></app-home>
    </div>
  </section>
  <section id="stat">
    <div class="item">
      <app-stats></app-stats>
    </div>
  </section>
  <section id="rsc">
    <div class="item">
      <app-resources></app-resources>
    </div>
  </section>
