<div class="ui vertical stripe quote segment">
  <p>
    Acton, Brian. “11 Ways to Lower Your Water Bill.” MarketWatch, 1 Aug. 2019,
    www.marketwatch.com/story/11-ways-to-lower-your-water-bill-2019-08-01.
  </p>
  <p>
    “Climate Change: 11 Facts You Need to Know.” Climate Change - 11 Facts You
    Need To Know, www.conservation.org/stories/11-climate-change-facts-you-need-to-know.
  </p>
  <p>
    “Connect &amp; Participate.” GlobalChange.gov, www.globalchange.gov/engage.
  </p>
  <p>
    Ronnica. “25 Stupid Easy Ways to Save Money (and Time) on Your Commute.”
    How to Get Out of Debt Fast - And Then We Saved, 14 May 2019,
    andthenwesaved.com/how-to-save-money-on-your-commute/.
  </p>
  <p>
    “10 Tips to How to Lower Your Heating Bill: Master This: Liberty Mutual.”
    10 Tips to How to Lower Your Heating Bill | Master This: Liberty Mutual,
    www.libertymutual.com/masterthis/save-on-your-heating-bill.
  </p>
</div>
